* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #689B8A;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
    transition: 0.3s;

}

header a:hover {

    color: #F9CB99;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F9CB99;
}

.navbar .links {
    display: flex;
    gap: 2rem;

}

.navbar .toggle_btn {
    color: #ffff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    display: none;

}

.navbar .toggle_btn:hover {
    color: #F9CB99;
    scale: 1.2;
}

.action_btn {
    background-color: #F9CB99;
    color: #ffff;
    width: 150px;
    padding: 0.5rem 1rem;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.action_btn:hover {
    scale: 1.1;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 50px;
    width: 250px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open {
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dropdown_menu .action_btn {
    width: 150px;
    padding: 0.5rem;
    text-align: center;
    margin: 0 auto;
}

.dropdown_menu {
    display: block;
}

section#sectionHome {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #fff;
}

.on_boarding {
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    margin: 10%;
    transition: 0.3s;
}

#sectionHome h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.typeWriter {
    margin-bottom: 20px;
    text-align: start;
}

.ImageProfile {
    padding: 0;
    display: block;
    border-radius: 50%;
    width: 20%;
    object-fit: none;
    opacity: 0.8;
}

.contact a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
    transition: 0.3s;
    margin: 10px
}

.contact a:hover {

    color: #F9CB99;
}

section#sectionSkill {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin-bottom: 100px;

}

#sectionSkill h2 {
    margin-top: 1%;
    text-align: center;
    text-align: center;
    color: white;

}

.skill {
    height: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    background-color: #689B8A;
    justify-content: center;
}

.skill img {
    object-fit: cover;
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    transition: 0.3s;
}

.skill img:hover {
    scale: 1.2;
}

section#sectionPorto {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;

}

.portofolio {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    background-color: #689B8A;
    justify-content: center;
}

#sectionPorto h2 {
    /* margin-top: 1%; */
    margin-left: 5%;
    text-align: center;
    margin-bottom: 50px;
}

.card {
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    color: #689B8A;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    position: relative;
}

.card p {
    display: none;
    font-size: 10px;
    text-align: left;
}

.card:hover {
    scale: 1.3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 350px;
}


.card:hover p {
    display: block;
}

.card a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    transition: 0.3s;
}

.card a:hover {
    color: #F9CB99;
}


.card img {
    object-fit: cover;
    max-width: 250px;
    max-height: 200px;
    border-radius: 5px 5px 0 0;
    background-color: black;
}

.container {
    padding: 2px 16px;
}

.ribbon {
    width: 70px;
    font-size: 14px;
    padding: 2px;
    position: absolute;
    right: 3px;
    top: 3px;
    text-align: center;
    border-radius: 5px;
    background-color: #F9CB99;
    color: white;
}

.ribbon.personal {
    background-color: green;
}

#sectionExp {
    padding: 50px 0;
  }
  
  #sectionExp h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
  }
  
  .timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 50%;
  }
  
  .timeline-item.left {
    left: 0;
  }
  
  .timeline-item.right {
    left: 50%;
  }
  
  .timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: #F9CB99;
    border: 3px solid white;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timeline-item.right::before {
    left: -10px;
    right: auto;
  }
  
  .descExperience {
    background-color: #F9CB99;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  
  .descExperience img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: block;
    margin: 0 auto 10px;
  }
  
  .descExperience h3, h5, p {
    margin: 5px 0;
    text-align: center;
  }

.bar {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -13px;
    top: 100%;
    text-align: center;
    color: white;
    background-color: #F9CB99;
}

.bar.second {
    top: 20%;
}

.descExperience img {
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
    height: 50px;
    background-color: white;
} */

footer {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    color: white;
    justify-content: center;

}

footer a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
    transition: 0.3s;
    margin: 10px
}

footer a:hover {

    color: #F9CB99;
}

@media(max-width: 768px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .on_boarding {
        width: 100%;
    }

    .ImageProfile {
        display: none;
    }

    .progressBar {
        border-left: #689B8A;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .progressBar li {
        display: none;
    }

    /* section#sectionExp {
        height: 100%;

    }

    .descExperience {
        position: relative;
        margin-bottom: 5%;

    } */

    .timeline-item {
        width: 100%;
        left: 0 !important;
        padding-left: 70px;
        padding-right: 25px;
      }
    
      .timeline::after {
        left: 20px;
      }
    
      .timeline-item::before {
        left: 8px !important;
        right: auto;
      }
}

@media(min-width: 768px) {
    .dropdown_menu {
        display: none;
    }
}